<div class="user-auth">
 <div *ngIf="showLogin"  class="login">
  <h1>User Login</h1>
  <form #userLogin="ngForm" class="common-form" (ngSubmit)="login(userLogin.value)">
    <p class="error-p">{{authError}}</p>
    <input
      type="text"
      class="form-input"
      name="email"
      placeholder="Enter User Email"
      ngModel
      email
      #email="ngModel"
      required
    />
    <p class="invalid-input"><span *ngIf="email.invalid && email.touched " >Please enter a valid Email Address</span></p>
    <input
    type="password"
    class="form-input"
    name="password"
    placeholder="Enter User Password"
    ngModel
    minlength="2"
    maxlength="20"
    #password="ngModel"
    required
  />
  <p class="invalid-input"><span *ngIf="password.invalid && password.touched " >Please enter a valid password</span></p>
  <button [disabled]="userLogin.invalid" class="form-button">Login</button><br>
  <button class="form-button" (click)="clearSearch(userLogin)">Reset</button>
  </form>
 </div>
</div>
